.messages {
    min-width: 140px;
    margin-top: 6px;
    background-color: #567a9e;
    padding: 7px 7px 7px 10px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;

}

a {
    text-decoration: none;
}
.yes {
    margin-left: 130px;
    display: inline-block;
    position: relative;
}

.yes img{
    float:right;
    margin-right: -12px;
}
.yes div{
    color:  #567a9e ;
    padding-left: 10px;
    border: 2px solid #567a9e;
    background-color: #edeef0;

}

.no {
    display: inline-block;
    position: relative;
}

.no img{
    float:right;
    margin-right: 5px;
}
.no div{
    float: left;
    margin-left: 10px;
    color:  #567a9e ;
    padding-left: 10px;
    border: 2px solid #567a9e;
    background-color: #edeef0;

}


.dots{
    cursor: pointer;
    margin-top: 2px;
    padding-right: 10px;
}
.viewed{
    padding-right: 16px;
    border-radius: 100%;
    background-color: #567a9e;
    float: right;
    margin-right: 10px;
}

