.content{
    grid-area: c;
}
.content img {
    max-width: 100%;
}

.pic {
    margin-left: 10px;
    margin-top: 20px;
    float: left;
    margin-bottom: 10px;
    border-radius: 20px;
}

.text {
    float: left;
    margin-left: 20px;
}

.inputPhoto{
    text-decoration: none;
    background-color: #4a76a8;
    color: #edeef0;
    cursor: pointer;
}

.summary{
    outline: none;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.upload {
    position: absolute;
    margin-top: 180px;
    margin-left: 12px;
}

input.inputPhoto{
    outline: none;
    text-decoration: none;
}
.button{
    text-decoration: none;
    background-color: #567a9e;
    outline: none;
    border: none;
    color: #ebecee;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding-bottom: 2px;
    cursor: pointer;
}
