.form{
    margin-top: 50px;
    margin-left: 120px;
}
label {
    font-size: 19px;
}

.button{
    width: 60%;
    margin-top: 30px;
    padding: 17px;
    background-color: #4975a7;
    border: none;
    color: #ebecee;
    text-decoration: none;
}

.button:disabled{
    opacity: 0.6;
}
.rememberMe{
    margin-top: 10px;
}
.form h1{
    margin-left: 154px;
}

.fieldError{
    margin-top: 10px;
    margin-left: 100px;
    color: red;
    font-weight: bold;
}